:root {
  --color-gray-10: #ffffff;
  --color-gray-70: #353535;
  --color-gray-90: #050505;

  --color-blue-10: #deeaff;
  --color-blue-40: #438bcc;
  --color-green-40: #77a422;
  --color-orange-40: #db802b;

  --color-slate-900: #0f172a;
  --color-slate-800: #1e293b;
  --color-slate-700: #334155;
  --color-slate-600: #475569;
  --color-slate-400: #94a3b8;
  --color-slate-300: #cbd5e1;

  --color-indigo-500: #6366f1;
  --color-emerald-600: #059669;

  --accent-primary: #818cf8;

  --bg-header: #1e293b;
  --bg-body: #1e293b;
  --border-color: #475569;

  --radius-sm: 0.375rem; /* 6px */
  --radius-md: 0.5rem; /* 8px */
  --radius-lg: 0.75rem; /* 12px */

  --max-width-panel: 42rem;

  --shadow-lg: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-2xl: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}
